/* css/contact.css */
h2 {
    text-align: center;
    color: #0055ff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1rem auto;
    gap: 0.8rem;
}

input,
textarea {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0055ff;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0044cc;
}